<body>
<div class="bg-img">
  <h1>Narasaraopeta Engineering College</h1><br>
  <h2>Community Service Project</h2>
  <h2>On</h2>

  <div style="position:absolute;bottom: 60%;left: 39%;"><h3 style="text-align: center;font-size:large;font-weight: bold;color: rgb(253, 247, 248);background-color: black;">------MILK PRODUCTION MANAGEMENT------</h3></div>


    <section>
      <div class="example-label"></div>
    
    <div class="li">
        <nav>
            <ul>
              <button class="btn1"><a href="register">register</a></button> &nbsp;
              <button class="btn1"><a  href="login">login</a></button><br>
              
            </ul>
            &nbsp;
          </nav>
          </div>

    <br>
  
    <img src="../assets/Nec.png.jpg"  >
    
    
    <div style="position:absolute;bottom: 7%;left: 35%;"><h3 style="text-align: center;font-size:large;font-weight: bold; color: rgb(220, 7, 7);">~~~~~~~COMPUTER SCIENCE AND ENGINEERING~~~~~~~</h3></div><br>

    <!--TEAM MEMBERS
    p.Tanuja
    sreyaa
    mahishabhi
    rangalakshmi
    lakshmipriya
    supriyaa
  jyothika
    -->
    