
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/insert" routerLinkActive="active">Insert</a>
        <a class="nav-item nav-link" routerLink="/delete" routerLinkActive="active">Delete</a>
        <a class="nav-item nav-link" routerLink="/read" routerLinkActive="active">Read</a>
        <a class="nav-item nav-link " routerLink="/update" routerLinkActive="active">Update</a>
      </div>
    </div>
  <router-outlet></router-outlet>
