<app-navbar></app-navbar>
<!-- Background image -->
<div
  class="bg-image d-flex justify-content-center align-items-center"
  style="
    background-image: url('https://img.freepik.com/premium-photo/world-milk-day-illustration-with-cow-field-background-with-bottle-milk-generative-ai_834602-12313.jpg?w=1060');
    height: 100vh;
  "
>
<div style="padding-top: 5%;padding-bottom: 25%;padding-right: 45%;">
<mat-card class="example-card">
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
  <mat-card-header>
    <mat-card-title>MILK PRODUCTION</mat-card-title>
    
  </mat-card-header>
  <mat-card-content>
   
    <p>{{ longText }}</p>
    <mat-divider></mat-divider>
  </mat-card-content>

  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
</div>
</div>
<!-- Background image -->
