

/*
.bg-image{
  background-image: url("src\assets\1234.webp");
  background-size: cover;
}
*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile {
  margin-right: 30px;
}

.profile img {
  width: 900px;
  height: 900px;
  object-fit: cover;
  border-radius: 100%;
}

.contact-form {
  width: 400px;
}

.contact-form h2 {
  text-align: right;
  padding: 100px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}

.profile{
  width: 200px;
  height: 200px;
  background-size: cover;
  
} 

body{
background-image: url("https://img.freepik.com/premium-photo/world-milk-day-milk-bottle-jar-wooden-table-generative-ai_834602-11162.jpg?w=1060");
background-size: cover;
}