<!-- Background image -->
<app-navbar></app-navbar>
<!--<div class="bg-image">

   <div class="h1">
    
      <h1 class="text-black">CONTACT US</h1>
      
      
    </div>
    <div class="h2"></div>
    <p>
      <h2 class="text-black mdbcdn">NAME:tanuja</h2>
      <h2 class="text-black ">CONTACT:9346679077</h2>
      <h2 class="text-black ">ADDRESS:KAKANI VILLAGE</h2>
      <h2 class="text-black ">EMAILID:pentyalatanuja@gmail.com</h2>
    
    </div>-->
  

<!-- Background image -->

<!--
<form action="//submit.form" id="ContactUs100" method="post" onsubmit="return ValidateForm(this);">
  <script type="text/javascript">
  function ValidateForm(frm) {
  if (frm.Name.value == "") { alert('Name is required.'); frm.Name.focus(); return false; }
  if (frm.FromEmailAddress.value == "") { alert('Email address is required.'); frm.FromEmailAddress.focus(); return false; }
  if (frm.FromEmailAddress.value.indexOf("@") < 1 || frm.FromEmailAddress.value.indexOf(".") < 1) { alert('Please enter a valid email address.'); frm.FromEmailAddress.focus(); return false; }
  if (frm.Comments.value == "") { alert('Please enter comments or questions.'); frm.Comments.focus(); return false; }
  return true; }
  </script>
  <table style="width:100%;max-width:550px;border:0;" cellpadding="8" cellspacing="0">
  <tr> <td>
  <label for="Name">Name*:</label>
  </td> <td>
  <input name="Name" type="text" maxlength="60" style="width:100%;max-width:250px;" />
  </td> </tr> <tr> <td>
  <label for="PhoneNumber">Phone number:</label>
  </td> <td>
  <input name="PhoneNumber" type="text" maxlength="43" style="width:100%;max-width:250px;" />
  </td> </tr> <tr> <td>
  <label for="FromEmailAddress">Email address*:</label>
  </td> <td>
  <input name="FromEmailAddress" type="text" maxlength="90" style="width:100%;max-width:250px;" />
  </td> </tr> <tr> <td>
  <label for="Comments">Comments*:</label>
  </td> <td>
  <textarea name="Comments" rows="7" cols="40" style="width:100%;max-width:350px;"></textarea>
  </td> </tr> <tr> <td>
  * - required fields
  </td> <td>
  <div style="float:right"><a href="https://www.100forms.com" id="lnk100" title="form to email">form to email</a></div>
  <input name="skip_Submit" type="submit" value="Submit" />
  <script src="https://www.100forms.com/js/FORMKEY:RXWUR823DU68/SEND:my@email.com" type="text/javascript"></script>
  </td> </tr>
  </table>
  </form>
  -->
  
<body>
  

<div class="container">
    <div class="profile">
      <img src="" alt="">
    </div>
    <div class="contact-form">
      <h1 style="color: rgb(22, 19, 19); background-color: rgb(239, 241, 236);text-align: center;"><u>CONTACT US</u></h1>
      <form style="background-color: rgb(234, 239, 236);text-align: center">
        <div class="form-group">
         <h3 style="color: rgb(18, 18, 18)"><b>NAME:</b> &nbsp;&nbsp;p.TANUJA</h3>
        </div>
        <div class="form-group">
            <div class="form-group">
                <h3 style="color: rgb(4, 4, 4)"><b>ROLL NUMBER:</b> &nbsp;21471A05O2</h3>
               </div>
        </div>
        <div class="form-group">
            <h3 style="color: rgb(12, 12, 12)"><b>EMAIL:</b> &nbsp;<a href="21471A05O2@nrtec.in">21471A05O2@nrtec.in</a></h3>
          
        </div>
        
      </form>
    </div>
  </div>
  
</body>