.h1 {
    color: black;
    text-decoration: double;
}
body{
    background-image: url("https://img.freepik.com/premium-photo/world-milk-day-illustration-with-cow-field-background-with-bottle-milk-generative-ai_834602-12315.jpg?w=1060");
    background-size: cover;
    }