<!-- <app-navbar></app-navbar>
<h1>About Us</h1>
<h2>Our Story</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in ex vitae nunc ultricies ultrices. Morbi hendrerit augue ut risus vestibulum, at dignissim sem ultricies. Vivamus finibus tortor ut dui ultricies, ac dignissim lectus eleifend.</p>
  <h2>Our Team</h2>
<div>
    <div class="figure">

        <img  src="..\assets\T.jpg" alt="Syed Mahishabi" width="400px" height="300px"><br>
        <h3>Syed Mahishabi</h3><br>
     
        <img  src="..\assets\R.jpg" alt="Ranga Lakshmi" width="400px" height="300px" ><br>
        <p>Ranga Lakshmi</p>
        <img  src="..\assets\T2.jpg" alt="Ala.Lakshmi Priyanka" width="400px" height="300px"><br>
        <p>Ala.Lakshmi Priyanka</p>
        </div>
        <div class="figure">
        <img  src="..\assets\LP.jpg" alt="Ala.Lakshmi Priyanka" width="400px" height="300px"><br>
        <p>Ala.Lakshmi Priyanka</p>
        <img  src="..\assets\M.jpg" alt="Ala.Lakshmi Priyanka" width="400px" height="300px"><br>
        <p>Ala.Lakshmi Priyanka</p>
        <img  src="..\assets\J.jpg" alt="Ala.Lakshmi Priyanka" width="400px" height="300px"><br>
        <p>Ala.Lakshmi Priyanka</p>
        </div>
        <div class="figure">
          <img  src="..\assets\LP.jpg" alt="Ala.Lakshmi Priyanka" width="400px" height="300px"><br>
          <p>Ala.Lakshmi Priyanka</p>
          <img  src="..\assets\M.jpg" alt="Ala.Lakshmi Priyanka" width="400px" height="300px"><br>
          <p>Ala.Lakshmi Priyanka</p>
          <img  src="..\assets\J.jpg" alt="Ala.Lakshmi Priyanka" width="400px" height="300px"><br>
          <p>Ala.Lakshmi Priyanka</p>
          </div>
          
        
        </div> -->
        <!--
      <div class="row">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>

          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
         
        </mat-card>
      </div>
    -->
  
<div class="row">
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <mat-card class="example-card" style="background-color: rgb(49, 183, 245);">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image1"></div>
      <mat-card-title>VILLAGE MAP</mat-card-title>
      <mat-card-subtitle>KUMARASWAMY MINES</mat-card-subtitle>
    </mat-card-header>
    <img class="mat-card-image" src="src\assets\images\map1.jpg" alt="">
    <mat-card-content>
      
    </mat-card-content>



  </mat-card>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <mat-card class="example-card" style="background-color: rgb(245, 249, 248);">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>TANUJA</mat-card-title>
      <mat-card-subtitle>BALLARY(KS)</mat-card-subtitle>
    </mat-card-header>
    <img  src="src\assets\J.jpg" alt="">
    <mat-card-content>
      
    </mat-card-content>



  </mat-card>

  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <mat-card class="example-card" style="background-color: rgb(211, 248, 152);">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>DEMOGRAPHY</mat-card-title>
      <mat-card-subtitle>BALLARY(KS)</mat-card-subtitle>
    </mat-card-header>
    <img class="mat-card-image" src="src\assets\images\ks.jpeg" alt="">
    <mat-card-content>
      <p>
        Area 8450 Sq Km,
        No. of Revenue Sub Disivions 1,
        No. of Taluks 5,
        No. of Revenue Hoblis 36,
        No. of Revenue Villages 627,
        No. of Gram Panchayats 100,
        No. of Municipalities 6,
        No. of City Corporations 1,
        No. of City Municipal Corporations 1,
        No. of Fair Price Shops 362,
        Total Male Population 7,06,075,
        Total Female Population 6,94,895,
        Total Population 14,00,970,
        Urban Population 6,28,626,
        Rural Population 7,72,344,
        SC Population 2,67,393,
        ST Population 2,62,672 </p>
    </mat-card-content>



  </mat-card>
</div>
&nbsp;
&nbsp;
&nbsp;
&nbsp;
  <div class="row">
    &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  
  <mat-card class="example-card" style="background-color: rgb(211, 248, 152);">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>DEMOGRAPHY</mat-card-title>
      <mat-card-subtitle>BALLARY(KS)</mat-card-subtitle>
    </mat-card-header>
    <img class="mat-card-image" src="src\assets\images\ks.jpeg" alt="">
    <mat-card-content>
      <p>
        Area 8450 Sq Km,
        No. of Revenue Sub Disivions 1,
        No. of Taluks 5,
        No. of Revenue Hoblis 36,
        No. of Revenue Villages 627,
        No. of Gram Panchayats 100,
        No. of Municipalities 6,
        No. of City Corporations 1,
        No. of City Municipal Corporations 1,
        No. of Fair Price Shops 362,
        Total Male Population 7,06,075,
        Total Female Population 6,94,895,
        Total Population 14,00,970,
        Urban Population 6,28,626,
        Rural Population 7,72,344,
        SC Population 2,67,393,
        ST Population 2,62,672 </p>
    </mat-card-content>



  </mat-card>

  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <mat-card class="example-card" style="background-color: rgb(211, 248, 152);">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>DEMOGRAPHY</mat-card-title>
      <mat-card-subtitle>BALLARY(KS)</mat-card-subtitle>
    </mat-card-header>
    <img class="mat-card-image" src="src\assets\images\ks.jpeg" alt="">
    <mat-card-content>
      <p>
        Area 8450 Sq Km,
        No. of Revenue Sub Disivions 1,
        No. of Taluks 5,
        No. of Revenue Hoblis 36,
        No. of Revenue Villages 627,
        No. of Gram Panchayats 100,
        No. of Municipalities 6,
        No. of City Corporations 1,
        No. of City Municipal Corporations 1,
        No. of Fair Price Shops 362,
        Total Male Population 7,06,075,
        Total Female Population 6,94,895,
        Total Population 14,00,970,
        Urban Population 6,28,626,
        Rural Population 7,72,344,
        SC Population 2,67,393,
        ST Population 2,62,672 </p>
    </mat-card-content>



  </mat-card>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <mat-card class="example-card" style="background-color: rgb(211, 248, 152);">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>DEMOGRAPHY</mat-card-title>
      <mat-card-subtitle>BALLARY(KS)</mat-card-subtitle>
    </mat-card-header>
    <img class="mat-card-image" src="src\assets\images\ks.jpeg" alt="">
    <mat-card-content>
      <p>
        Area 8450 Sq Km,
        No. of Revenue Sub Disivions 1,
        No. of Taluks 5,
        No. of Revenue Hoblis 36,
        No. of Revenue Villages 627,
        No. of Gram Panchayats 100,
        No. of Municipalities 6,
        No. of City Corporations 1,
        No. of City Municipal Corporations 1,
        No. of Fair Price Shops 362,
        Total Male Population 7,06,075,
        Total Female Population 6,94,895,
        Total Population 14,00,970,
        Urban Population 6,28,626,
        Rural Population 7,72,344,
        SC Population 2,67,393,
        ST Population 2,62,672 </p>
    </mat-card-content>



  </mat-card>
</div>
&nbsp;
&nbsp;
&nbsp;
&nbsp;
  <div class="row">
    &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
 
  <mat-card class="example-card" style="background-color: rgb(211, 248, 152);">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>DEMOGRAPHY</mat-card-title>
      <mat-card-subtitle>BALLARY(KS)</mat-card-subtitle>
    </mat-card-header>
    <img class="mat-card-image" src="src\assets\images\ks.jpeg" alt="">
    <mat-card-content>
      <p>
        Area 8450 Sq Km,
        No. of Revenue Sub Disivions 1,
        No. of Taluks 5,
        No. of Revenue Hoblis 36,
        No. of Revenue Villages 627,
        No. of Gram Panchayats 100,
        No. of Municipalities 6,
        No. of City Corporations 1,
        No. of City Municipal Corporations 1,
        No. of Fair Price Shops 362,
        Total Male Population 7,06,075,
        Total Female Population 6,94,895,
        Total Population 14,00,970,
        Urban Population 6,28,626,
        Rural Population 7,72,344,
        SC Population 2,67,393,
        ST Population 2,62,672 </p>
    </mat-card-content>



  </mat-card>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <mat-card class="example-card" style="background-color: rgb(211, 248, 152);">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>DEMOGRAPHY</mat-card-title>
      <mat-card-subtitle>BALLARY(KS)</mat-card-subtitle>
    </mat-card-header>
    <img class="mat-card-image" src="src\assets\images\ks.jpeg" alt="">
    <mat-card-content>
      <p>
        Area 8450 Sq Km,
        No. of Revenue Sub Disivions 1,
        No. of Taluks 5,
        No. of Revenue Hoblis 36,
        No. of Revenue Villages 627,
        No. of Gram Panchayats 100,
        No. of Municipalities 6,
        No. of City Corporations 1,
        No. of City Municipal Corporations 1,
        No. of Fair Price Shops 362,
        Total Male Population 7,06,075,
        Total Female Population 6,94,895,
        Total Population 14,00,970,
        Urban Population 6,28,626,
        Rural Population 7,72,344,
        SC Population 2,67,393,
        ST Population 2,62,672 </p>
    </mat-card-content>



  </mat-card>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <mat-card class="example-card" style="background-color: rgb(211, 248, 152);">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>DEMOGRAPHY</mat-card-title>
      <mat-card-subtitle>BALLARY(KS)</mat-card-subtitle>
    </mat-card-header>
    <img class="mat-card-image" src="src\assets\images\ks.jpeg" alt="">
    <mat-card-content>
      <p>
        Area 8450 Sq Km,
        No. of Revenue Sub Disivions 1,
        No. of Taluks 5,
        No. of Revenue Hoblis 36,
        No. of Revenue Villages 627,
        No. of Gram Panchayats 100,
        No. of Municipalities 6,
        No. of City Corporations 1,
        No. of City Municipal Corporations 1,
        No. of Fair Price Shops 362,
        Total Male Population 7,06,075,
        Total Female Population 6,94,895,
        Total Population 14,00,970,
        Urban Population 6,28,626,
        Rural Population 7,72,344,
        SC Population 2,67,393,
        ST Population 2,62,672 </p>
    </mat-card-content>



  </mat-card>
</div>
&nbsp;
&nbsp;
&nbsp;
&nbsp;
  <div class="row">
    &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
 
  <mat-card class="example-card" style="background-color: rgb(211, 248, 152);">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>DEMOGRAPHY</mat-card-title>
      <mat-card-subtitle>BALLARY(KS)</mat-card-subtitle>
    </mat-card-header>
    <img class="mat-card-image" src="src\assets\images\ks.jpeg" alt="">
    <mat-card-content>
      <p>
        Area 8450 Sq Km,
        No. of Revenue Sub Disivions 1,
        No. of Taluks 5,
        No. of Revenue Hoblis 36,
        No. of Revenue Villages 627,
        No. of Gram Panchayats 100,
        No. of Municipalities 6,
        No. of City Corporations 1,
        No. of City Municipal Corporations 1,
        No. of Fair Price Shops 362,
        Total Male Population 7,06,075,
        Total Female Population 6,94,895,
        Total Population 14,00,970,
        Urban Population 6,28,626,
        Rural Population 7,72,344,
        SC Population 2,67,393,
        ST Population 2,62,672 </p>
    </mat-card-content>



  </mat-card>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <mat-card class="example-card" style="background-color: rgb(211, 248, 152);">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>DEMOGRAPHY</mat-card-title>
      <mat-card-subtitle>BALLARY(KS)</mat-card-subtitle>
    </mat-card-header>
    <img class="mat-card-image" src="src\assets\images\ks.jpeg" alt="">
    <mat-card-content>
      <p>
        Area 8450 Sq Km,
        No. of Revenue Sub Disivions 1,
        No. of Taluks 5,
        No. of Revenue Hoblis 36,
        No. of Revenue Villages 627,
        No. of Gram Panchayats 100,
        No. of Municipalities 6,
        No. of City Corporations 1,
        No. of City Municipal Corporations 1,
        No. of Fair Price Shops 362,
        Total Male Population 7,06,075,
        Total Female Population 6,94,895,
        Total Population 14,00,970,
        Urban Population 6,28,626,
        Rural Population 7,72,344,
        SC Population 2,67,393,
        ST Population 2,62,672 </p>
    </mat-card-content>



  </mat-card>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <mat-card class="example-card" style="background-color: rgb(211, 248, 152);">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>DEMOGRAPHY</mat-card-title>
      <mat-card-subtitle>BALLARY(KS)</mat-card-subtitle>
    </mat-card-header>
    <img class="mat-card-image" src="src\assets\images\ks.jpeg" alt="">
    <mat-card-content>
      <p>
        Area 8450 Sq Km,
        No. of Revenue Sub Disivions 1,
        No. of Taluks 5,
        No. of Revenue Hoblis 36,
        No. of Revenue Villages 627,
        No. of Gram Panchayats 100,
        No. of Municipalities 6,
        No. of City Corporations 1,
        No. of City Municipal Corporations 1,
        No. of Fair Price Shops 362,
        Total Male Population 7,06,075,
        Total Female Population 6,94,895,
        Total Population 14,00,970,
        Urban Population 6,28,626,
        Rural Population 7,72,344,
        SC Population 2,67,393,
        ST Population 2,62,672 </p>
    </mat-card-content>



  </mat-card>

       
